.Button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #bdbdbd;
}

.Button {
    display: inline-flex;
    background: #55bb73;
    color: #fff;
    border: none;
    transition: all .15s ease-in-out;
    padding: 10px 20px 10px 20px;
    margin: 0 10px 0 10px;
    cursor: pointer;
    text-decoration: none;
}

.Button:hover {
    background: #58c678;
}
