.FieldList {
    width: 600px;
    margin: 10px auto;
}

.FieldItem {
    display: flex;
    padding: 12px 0 12px 0;
    align-items: center;
}

.FieldItem__label {
    flex: 1;
    max-width: 180px;
}

.FieldItem__value {
    flex: 1;
    position: relative;
}

.FieldItem__value input[type="text"] {
    width: 100%;
    padding: 6px 10px 5px 10px;
    box-sizing: border-box;
}